.Menu {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#leftMenuDiv {
  width: 50vw;
  height: 90vh;
}
#leftMenuDiv img {
  width: 50vw;
  height: 90vh;
}
#rightMenuDiv {
  width: 50vw;
  height: 90vh;
  background-color: #050221;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

#leftLineMenu {
  border-top: solid;
  border-color: white;
  width: 10vw;
}

#menuTitleDiv {
  letter-spacing: 20px;
  line-height: 1;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menuTitle {
  padding: 30px;
  margin-right: -20px;
  text-align: center;
}

.specialsMenu {
  font-size: 25px;
  line-height: 1.28;
  letter-spacing: 5px;
  margin-right: -5px;
  justify-content: flex-start;
  text-align: center;
  text-decoration: underline;
}

#menuButton {
  box-shadow: none;
  text-decoration: none;
  border: solid;
  border-color: white;
  border-width: 2px;
  line-height: 1.28;
  letter-spacing: 5px;
  margin-right: -5px;
  text-align: center;
  font-size: 25px;
  background-color: #050221;
  color: white;
  height: 6vh;
  width: 18vw;
}
